@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<footer class="footer">
    <div class="container">
        <div class="logo-container text-center">
            <h1 class="m-y">VCRS Demo Dealer</h1>
        </div>
    </div>
</footer>