@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(2).First();

    // The menu items we want are all of the children of the homepage
    // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
    var menuItems = homePage.Children.Where("UmbracoNaviHide == false");
}
<!-- Vert.nav -->
<div class="vertical-nav">
    <ul class="level-0">
        @foreach (var item in menuItems)
        {
            <li class="menu-item">
                <a href="@item.Url" class="@(item.IsAncestorOrSelf(CurrentPage.Content) ? "menu-link is-active" : "menu-link")">
                    @item.Name
                </a>
            </li>}
    </ul>
</div>
<!-- /Vert.nav -->